h2.panel-heading
	strong my watchlist
	| domains that you have starred
p
	| When you star an auction in The Domain Exchange, It appears here. This allows to you make a shortlist containing only the domains sales/auctions that you are interested in following.
ul#watchlist-tabs.nav.nav-tabs
	li.active
		a(href='#expiring', data-toggle='tab') Expiring
	li
		a(href='#pre-auction', data-toggle='tab') Pre-auctions
	li
		a(href='#auction', data-toggle='tab') Auctions
	li
		a(href='#buy-it-now', data-toggle='tab') Buy it now
	li
		a(href='#websites', data-toggle='tab') Websites
	li
		a(href='#history', data-toggle='tab') History
.tab-content
	#expiring.tab-pane.active
		h2.light-grid-header Watched expiring domains
		p.clearfix
			| Expiring listing definition: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id augue vitae libero ultricies.
	#pre-auction.tab-pane	
	#auction.tab-pane	
	#buy-it-now.tab-pane	
	#websites.tab-pane	
	#history.tab-pane