h2.panel-heading
	strong bulk import domains
	span.ff-icon-before.import  into porfolio

a#download-csv.btn.btn-info.btn-large.ff-icon-before download exmaple csv file

p	
	strong * To import your own domain data, 
	
	| you'll first need to format it in such a way that our system is able to understand it. Please download a copy of our 
	
	a(href="#") import template CSV file.
