h2.panel-heading
	strong import / update 
	span.ff-icon-before.import  porfolio domain data 

a#download-csv.btn.btn-info.btn-large.ff-icon-before download exmaple csv file

p	
	strong * To import your own domain data, 
	
	| you'll first need to format it in such a way that our system is able to understand it. Please download a copy of our 
	
	a(href="#").download template for CSV file imports.
