tr
	td
			button.btn.select(data-toggle="button")
		td
			button.btn.favourite(data-toggle="button")
		td.actions
			span.action-buttons
				//a.ff-icon(href="#", data-title="Build website") X
				a.ff-icon(href="#", data-title="View domain details", data-panel-id="domain-details") G
				a.ff-icon.main-action(href="#", data-title="List domain for sale", data-panel-id="sell-domain") ^
					span.action-label Sell
				//a.ff-icon(href="#", data-title="Place bid / Buy") -
		td.domain-title
			span.domain-title-cntnr
				= domain
				span.tld com
		td 3
		td.currency 1584
		td n/a
		td 8
		td.currency 200
		td 20%
		td.date 1st Jan '70 10:00am
		td.date 1st Jan '70 10:00am
		td No
		td 0
		td 0
		td 0
		td 0