app/session_data
tests/vows-results.txt
tests/vows.coffee
app/state_data
tests/selenium/results/
/nbproject/private/
public/js/require/

# FUCK OFF ANNOYING DS_Store files!!!
/app/.DS_Store
/public/img/.DS_Store
/.DS_Store
.DS_Store