# persistent data
app/session_data
app/state_data

# test cases
tests/vows-results.txt
tests/vows.coffee
tests/selenium/results/

# minified files
public/js/require/

# misc
/nbproject/private/

# FUCK OFF ANNOYING DS_Store files!!!
/app/.DS_Store
/public/img/.DS_Store
/.DS_Store
.DS_Store
