# persistent data
app/session_data
app/state_data

# test cases
tests/vows-results.txt
tests/vows.coffee
tests/selenium/results/

# minified files
public/js/require/

# misc
/nbproject/private/
.idea
atlassian-ide-plugin.xml

# cache
cache/

# cache
profiler/

# FUCK OFF ANNOYING DS_Store files!!!
/app/.DS_Store
/public/img/.DS_Store
/.DS_Store
.DS_Store

#code coverage
/app-cov/
/src/
coverage.html

###SublimeText###

# SublimeText project files
/*.sublime-project
*.sublime-workspace
sftp-config*.json