extends ../layouts/mini-panels

block body
	h2.panel-heading
		strong detailed domain info on
		span.ff-icon-before.domain-details protrada-4-life.org

	p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae massa nec nunc sagittis vehicula non et nibh. Curabitur lacus felis, gravida nec tristique non, rhoncus non ante.

	table.simple-data
		tr
			th appraised value
			td.currency 500USD
		tr	
			th appraisal accuracy
			td 
				| 50
				sup %
		tr	
			th domain birthday
			td 27
				sup th 
				| oct 2011

		tr
			th domain expires in
			td 
				span.ff-icon-before.expires-soon 6 months

		tr
			th age
			td 1 year

		tr
			th backed by deals
			td no

		tr
			th backed by appraisal
			td no

		tr
			th domain rating
			td -

		tr	
			th TLD rating
			td AA

		tr
			th google pagerank
			td 0/10

		tr	
			th SLD
			td protrada4life

		tr
			th keywords
			td Protrada 4 Life

		tr
			th SLD language		
			td 
				| English 80
				sup %