h2.panel-heading
	strong advanced options
	span.ff-icon-before.advanced-search for domain searching

p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae massa nec nunc sagittis vehicula non et nibh. Curabitur lacus felis, gravida nec tristique non, rhoncus non ante.
	
form#advanced-search.form-horizontal.panel-form.clearfix

	.form-column.left
	
		h3.advanced-subhead domain character options
		
		.control-group.txt-input-row
			label(for="max-bid-value").control-label max-bid value
			.controls
				input#max-bid-value(type="number", placeholder="placed in USD")	
	
	
	
	
	
	.form-column.right
		
		h3.advanced-subhead domain character &amp content options
			
		.control-group.txt-input-row
			label(for="max-bid-value").control-label max-bid value
			.controls
				input#max-bid-value(type="number", placeholder="placed in USD")		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	