h2.panel-heading
	strong advanced search
	span.ff-icon-before.domain-details for domains

p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae massa nec nunc sagittis vehicula non et nibh. Curabitur lacus felis, gravida nec tristique non, rhoncus non ante.
	