h2.panel-heading
	strong advanced options
	span.ff-icon-before.advanced-search for domain searching

p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae massa nec nunc sagittis vehicula non et nibh. Curabitur lacus felis, gravida nec tristique non, rhoncus non ante.
	
form#advanced-search

	h3.advanced-subhead domain character options
	
	
	
	
	
	
	h3.advanced-subhead domain character &amp content options
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	