#section-panel.mini-panel
	#panel-content
		.clearfix
		
			a.x-panel(href='#')	
			h2.panel-heading
				strong export on-screen
				span.ff-icon-before.import-export  domain data
			
			p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae massa nec nunc sagittis vehicula non et nibh. Curabitur lacus felis, gravida nec tristique non, rhoncus non ante.
				
			a#download-xls.btn.btn-info.btn-large.ff-icon-before download xls file
