h2.panel-heading
	strong watch the video
	span.ff-icon-before.watch-video 'domaining' explained

p	Some short written details in here, possibly about what the video contains / why people should watch it.
	
<iframe src="http://fast.wistia.com/embed/iframe/48a99e9a08?videoWidth=520&videoHeight=295&controlsVisibleOnLoad=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="520" height="295"></iframe>
