aside.scrollfix

	header.alerts-header
		#live-help-logo.ff-icon-after.ff-icon help live
		#live-help-info
			| Chat with our support staff 
			a(href="#") online now
		#live-help-status.ff-icon-before.online

	#notifications.tiny-scrollbar-vert
		.scrollbar
			.track
				.thumb
					.end
		.viewport
			.overview
				
				h3#h3-alerts-title.ff-icon-before
					strong Important 
					| messages
				
				p
					| This is your system-wide activity feed.
					
					br
					
					| Check this list for items requiring action from you, or for
					
					| updates on things that the system has done for you. 
					
					a#hide-activity-descr(href='') Hide this 
				
				section#tabbed-alert-msgs
					
					ul#alert-msgs.nav.nav-tabs
						li.devname.center
							a.ff-icon-before(href='#devname-msgs')
								span.alert-count(data-alerts='0',title='origin of alerts') 
						li.active.protrada.left
							a.ff-icon-before(href='#protrada-msgs')
								span.alert-count(data-alerts='4',title='origin of alerts') 
						li.archive.right
							a.ff-icon-before(href='#archive-msgs')
					
					.tab-content
						
						#protrada-msgs.tab-pane.no-alerts.active
							h4
								strong protrada 
								| notifications
							// article alerts here
						
						
							// default content
							article.ff-icon-before.alert-msg.preview.new
								header
									h1 No alerts
								p just at the moment
							
							article.ff-icon-before.alert-msg
								header
									h1 Currently there are no alerts to show here
								p
									| This area will become populated with msg's as the system starts performing actions / automated procedures on your behalf. This includes things like bidding, watching and dns monitoring.
						
						
						#devname-msgs.tab-pane.no-alerts
							h4
								strong devname 
								| notifications
							
							
							// default content
							article.ff-icon-before.alert-msg.preview.new
								header
									h1 No alerts
								p just at the moment
							
							article.ff-icon-before.alert-msg
								header
									h1 Currently there are no alerts to show here
								p
									| This area will become populated with msg's as the system starts performing actions / automated procedures on your behalf. This includes things like bidding, watching and dns monitoring.							
							
							
							
							
							
						#archive-msgs.tab-pane
							h4
								strong archived 
								| notifications
							p
								strong Archive content goes in here
							p
								| Maybe a summary of what is in the archive section, and a
								a(href='#') link out
								| .
		#aside-inset-shadow