#spine
	#spine-inner
		a#toggle-sys-menu(href="", title="Protrada system menu")
			span.ff-icon-before

		#sys-menu
			#sys-menu-title-bar
				a#x-sys-menu.ff-icon-before(href="#")
				h4
					| system 
					strong options

			#user-options
				h4.side-on user options
				#credits
					h3
						| your system
						strong.ff-icon-before credits
					span.ff-icon-after.credit-count 657
					a.ff-icon-before(href="#") buy more
				a.ff-icon-before(href="/user-settings", data-title="user settings")
				a.ff-icon-before(href="/user-settings", data-title="user profile")
				a.ff-icon-before(href="#", data-title="upgrade membership")
				a.ff-icon-before(href="/logout", data-title="sign-out of account")

			#ui-controls
				h4.side-on ui controls
				a#toggle-help-bubbles.ff-icon-before(href="#") toggle display of help bubbles (for new users)
				a#toggle-condensed.ff-icon-before(href="#") toggle condensed view (for small screens)
				a#toggle-downgrade.ff-icon-before(href="#") downgrade interface details (for better performance)

			#system-rocker.clearfix
				h4.side-on system
				h3#devname.ff-icon-before.devname.hidden
					| monetize
					br
					| mode
				h3#protrada.ff-icon-before.protrada
					| trading
					br
					| mode
				a#mode-rocker(href="#")

		nav
			!= partial("partials/help-bubble", { id: "spine" })

			a#sys-alert.ff-icon-before.hidden(href="#")
				span.alertmsg-container
					h4.alert-header system wide alert
					span
			ul
				li
					a#nav-home.ff-icon-before(href="javascript:$.pv3.state.current.modules.selected = 'home'; $.pv3.state.restoreModule()")
					span home / portfolio dashboard
				li
					a#nav-exchange.ff-icon-before(href="javascript:$.pv3.state.current.modules.selected = 'exchange'; $.pv3.state.restoreModule()")
					span the domain exchange
				li
					a#nav-user-settings.ff-icon-before(href="javascript:$.pv3.state.current.modules.selected = 'user-settings'; $.pv3.state.restoreModule()")
					span user settings
					
				li
					a#nav-cart.ff-icon-before(href="#")
					span shopping cart					


				// not active/in-use yet ----------
				//
				//li
				//	a#nav-education.ff-icon-before(href="#")
				//	span 'domaining' education


		a#system-help.ff-icon-after(href="")
			| system
			strong help