#connect-popup

	#connect-error-msg
		span.ff-icon-before you have not yet linked an afternic account
	
	form.connect-account-form#afternic
	
		a.x-connect(href="#")
		h3 connect with
			strong Afternic	
	
		input#username(type="text", placeholder="placed in USD")
		span.hint-text some hint text which differs from account to account goes in here
		
		input#password(type="password", placeholder="placed in USD")
		span.hint-text some hint text which differs from account to account goes in here		