#connect-popup

	#connect-error-msg
		strong.ff-icon-before error 
		span you have not yet linked an 
			strong afternic account
	
	form.connect-account-form.clearfix#afternic
	
		a.ff-icon-before.x-connect(href="#")
		h3 connect with 
			strong Afternic	
	
		input#username(type="text", placeholder="Username")
		span.hint-text some hint text which differs from account to account goes in here
		
		input#password(type="password", placeholder="Password")
		
		input#submit(type="submit").hidden
		a.btn.btn-success.btn-large.ff-icon-before connect
		
		p.create-account or create an account 
			a(href="") here