header#main
	#toggle-side-bar.ff-icon-before
		span.toggle-title
			strong Collapse
			| sidebar
		span.toggle-sub * You can also re-open from here

	#sectional-func
		!= partial("partials/help-bubble", { id: "sidebar" })

		#x-side-bar(title="Toggle display of sidebar")
			span.alerts-summary
				span(data-alerts="0", data-title="Protrada Alerts")
					span.ff-icon-before.hover-bubble Protrada alerts
				span(data-alerts="0", data-title="Devname Alerts")
					span.ff-icon-before.hover-bubble Devname alerts
			span.left-bars
				span
			span.right-bar

		- var klass = ( tabs.length == 1 ? "singular" : "");
		ul.sectional-tabs(class=klass)
			- for ( var i = 0; i < tabs.length; ++i ) {
				- var tab = tabs[ i ];
				li(id=tab.id, class=tab.class)
					a(href="javascript:$.pv3.panel.show( '" + tab.panel + "', {tabid: '" + tab.id + "', panel_size: '" + tab.panel_size + "'} );")
						strong=tab.h1
						= tab.h2
			- }

			!= partial("partials/help-bubble", { id: "panels" })

		form#quick-search.well
			input#quick-search-keyword(value="", placeholder="Quick domain search _")
			#sale-type.btn-group
				a.btn.dropdown-toggle(href="#", data-toggle="dropdown")
					| Sale type
					span.caret
				ul.dropdown-menu
					li
						a(href="") Auctions only
					li
						a(href="") Pre-auctions only
					li
						a(href="") Expiring only
					li
						a(href="") Dropping only
					li.divider
					li
						a(href="") New Registrations only
					li
						a(href="") Websites only
			button.btn.ff-icon-before(type="submit") Submit