span(class="help-bubble-container " + direction + "-msg")
	span.help-marker.ff-icon-before.ff-icon-after
		span.marker-icon +
	span.help-bubble
		span(title="hide this single bubble &amp; marker").x-help-bubble.ff-icon-before
		span.ff-icon-before.help-body-icon
		span.help-title= title
		span.help-body= body
			a(href="").hide-all-bubbles hide all help bubbles