#trading-and-trending.graph-hidden
	.graph-legend
		img(src='img/demo-current-trading.png', alt='demo image of trading graphing functionality')
	.graph-options
		h4#h4-trading-summary.ff-icon-before
			strong trading 
			| summary
		#graph-settings.btn-group
			a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='#')
				| data settings
				span.caret
			ul.dropdown-menu
				li
					a(href='#') weekly
				li
					a(href='#') monthly
				li
					a(href='#') quarterly
				li
					a(href='#') yearly
				li.divider
				li
					a(href='#') only ROI% yearly
	
	.graph-container
		#trading-graph.graph