link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800")
!= CDN("/css/bootstrap.min.css")
!= CDN("/css/app.css")
//link(rel="stylesheet", href="/js/jqplot/jquery.jqplot.css")