link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800')
link(rel='stylesheet', href='/css/normalize.min.css', media='screen')
link(rel='stylesheet', href='/css/reset.min.css', media='screen')
link(rel='stylesheet', href='/css/bootstrap.css', media='screen')
link(rel='stylesheet', href='/js/jqplot/jquery.jqplot.css')
link(rel='stylesheet', href='/css/tipTip.css')
link(rel='stylesheet', href='/css/pv3.css', media='screen')

script 	
	if( navigator.userAgent.match(/Android/i)

		|| navigator.userAgent.match(/webOS/i)

		|| navigator.userAgent.match(/iPhone/i)

		|| navigator.userAgent.match(/iPad/i)

		|| navigator.userAgent.match(/iPod/i)

		|| navigator.userAgent.match(/BlackBerry/i)){
			document.getElementsByTagName('body')[0].className += " mobile";
	}
