- var klass = (tabs.length == 1 ? 'singular' : '');
ul.sectional-tabs(class=klass)
	- for(var i = 0; i < tabs.length; ++i) {
		- var tab = tabs[i];
		li(id=tab.id,class=tab.class)
			a(href="javascript:$.pv3.panel.show('" + tab.panel + "', {'tabid':'" + tab.id + "', 'panel_size': '" + tab.panel_size + "'});")
				strong= tab.h1
				= tab.h2
	- }
