.task-status.success
	.status-content
		a.ff-icon-before.x-task-status(onclick="$.pv3.growl.hide()")
		h2.ff-icon-before success
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nisi purus. Sed scelerisque magna quis quam consectetur fermentum. Quisque et nisi libero.
		.clearfix
		
// OR
		
.task-status.error
	.status-content
		a.ff-icon-before.x-task-status(onclick="$.pv3.growl.hide()")
		h2.ff-icon-before error
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nisi purus. Sed scelerisque magna quis quam consectetur fermentum. Quisque et nisi libero.
		.clearfix
