article.alert-msg.dns-change
	span.x-alert-msg(title='Archive this message') x
	header.clearfix
		h6
			strong Alert 12
			| - 4hrs ago
		hgroup
			h5 Your DNS settings have changed
			h4
				a(title='action description', href='') outofdate.com
	section
		| Our system is telling us that this domain's DNS settings have changed. Did you drop this domain?
		a(title='action description', href='') Remove it from your Portfolio now
