article.alert-msg.domain-won
	span.x-alert-msg(title='Archive this message') x
	header.clearfix
		h6
			strong Alert 4
			| - 4hrs ago
		hgroup
			h5 You have won a domain auction
			h4
				a(title='action description', href='') moo.com
	section
		| The auction for this domain finished on 15th Jan, 2012 @ 5:40pm, with you as the high bidder!
		a(title='view preview now', href='') Go pay for it
