article.alert-msg.for-sale
	span.x-alert-msg(title='Archive this message') x
	header.clearfix
		h6
			strong Alert 9
			| - 4hrs ago
		hgroup
			h5 Your domain is now listed for sale
			h4
				a(title='action description', href='') buy-this-one.com
	section
		| This domain has successfully been placed for sale in The Exchange, GoDaddy, Namejet and Snapname.
		a(title='action description', href='') View auction
