article.alert-msg.lost-domain
	span.x-alert-msg(title='Archive this message') x
	header.clearfix
		h6
			strong Alert 6
			| - 4hrs ago
		hgroup
			h5 You have lost a domain auction
			h4
				a(title='action description', href='') iliketrafficlights.com
	section
		| The auction for this domain finished on 15th Jan, 2012 @ 5:40pm, and someone out-bid you!
		a(title='action description', href='') Find similar domains now
