article.alert-msg.max-bid-lost
	span.x-alert-msg(title='Archive this message') x
	header.clearfix
		h6
			strong Alert 8
			| - 4hrs ago
		hgroup
			h5 Your max-bid just was just out-bid!
			h4
				a(title='action description', href='') just-like-that.com
	section
		| The auction for this domain will finish on 15th Jan, 2012 @ 5:40pm, and you've just been outbid!
		a(title='action description', href='') Increase your bid now
