article.alert-msg.preview.new
	span.x-alert-msg(title='Archive this message') x
	header.clearfix
		h6
			strong Alert 1 
			| - 4hrs ago 
		hgroup
			h5 Website preview is ready
			h4
				a(title='view preview now', href='')= domain
	section
		| This domain has just finished being assessed and is now ready to be previewed!
		a(title='view preview now', href='') View it now (some extra text to make this link double-line)
