// exchange.jade
- if(!ajax) {
!= partial('partials/styles')
- }

header#main

	#toggle-side-bar.ff-icon-before
		span.toggle-title
			strong Collapse 
			| sidebar
		span.toggle-sub * You can also re-open from here
	
	#sectional-func.side-open	
		#x-side-bar(title='Toggle display of sidebar')
			span.left-bars
				span
			span.right-bar
		ul.sectional-tabs
			li#modal
				a(href='javascript:void(0);')
					span
						strong Active modal
						| label in here
			li#domain-info
				a(href='javascript:void(0);').ff-icon-before
					strong Detailed
					| domain info
			li#watchlist
				a(href='javascript:void(0);')
					strong My Watchlist
					| domains you star
		form#quick-search.well
			input#quick-search-keyword(value='', placeholder='Quick domain search _')
			#sale-type.btn-group
				a.btn.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
					| Sale type
					span.caret
				ul.dropdown-menu
					li
						a(href='') Auctions only
					li
						a(href='') PreAuctions only
					li
						a(href='') Expiring only
					li
						a(href='') Dropping only
					li.divider
					li
						a(href='') New Registrations only
					li
						a(href='') Websites only
			button.btn.ff-icon-before(type='submit') Submit

	
!= partial('partials/panel')

#main-container.page-exchange.search-results

		h5#first-heading.ff-icon-before wednesday 21
			sup st 
			| jul 2012,  
			strong 21:35
		
		div#section-headings.search-results
			#member-options.btn-group
				a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
					| previous searches
					span.caret
				ul.dropdown-menu
					li
						a(href='javascript:void(0);') search 1
					li
						a(href='javascript:void(0);') an old search
					li
						a(href='javascript:void(0);') another old search
					li.divider
					li
						a(href='javascript:void(0);') search is divided
			h1 the domain exchange
			span#results-marker 
				a(href='#').ff-icon-before 
				strong 'moo' 
				| search results 
				
			h3 search, sort, analyse and filter domains from the all the major domain resellers / trading houses.
		
		ul#exchange-data-tabs.nav.nav-tabs
			li.active
				a(href='') Expiring
			li
				a(href='') Auctions
			li
				a(href='') Dropping
			li
				a(href='') Websites
			li
				a(href='') History
			li
				a(href='') New registrations
		
		#exchange-tab-panes.tab-content
			#expiring.tab-pane.active
				h2#complete-listing Expiring domains listing
				p.clearfix
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id augue vitae libero ultricies bl
					| andit eget non lacus. Pellentesque a imperdiet diam.
		
				#grid-view.tiny-scrollbar-horiz
					.scrollbar
						.track
							.thumb
								.end
					.viewport
					
						table.grid-table.overview.floatable
							thead
								tr.col-grouping
									th.sticky(colspan='2')
										span.on.sticky-pin Stick
									th(colspan='2') Basic domain info
									th(colspan='4') Price / value info
									th(colspan='2') Performance info
									th(colspan='3') Domain registration info
								tr.filter
									th(colspan='2', scope='col')
										label Bulk
										#fav-sel-all
											button.btn.select(title='Select all', data-toggle='button')
											button.btn.favourite(title='Favourite all', data-toggle='button')
									th(scope='col')
										label(for='category') Top action(s)
										#top-actions.btn-group
											a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
												| sort by?
												span.caret
											ul.dropdown-menu
												li
													a(href='') Action 1
												li
													a(href='') Action 2
												li
													a(href='') Action 3
									th.sortable.domain-title(scope='col')
										label.active-asc(for='domain-title') Domain title
										#domain-title-inputs
											input#domain-title.txt-filter.filter-active(value='protrada', type='text')
											a.disable(href='')
											#string-mode-selection.btn-group
												a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
													| contains
													span.caret
												ul.dropdown-menu
													li
														a(href='') Contains
													li
														a(href='') Ending with
													li
														a(href='') Beginning with
											a#advanced-keyword-filter(href='', title='Advanced keyword filter') advanced keyword filter
									th(scope='col')
										label Offers
									th.sortable(scope='col')
										label(for='cost') Cost
										input#cost.txt-filter(value='', type='text')
									th.sortable(scope='col')
										label(for='appraised') Appraised
										input#appraised.txt-filter(value='', type='text')
									th(scope='col')
										label Unrealised
									th(scope='col')
										label Income
									th(scope='col')
										label ROI%
									th.date.sortable(scope='col')
										label(for='acquired') Acquired date
										#accquired.btn-group
											a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
												| today
												span.caret
											ul.dropdown-menu
												li
													a(href='') tomorrow
												li
													a(href='') 2 days
												li
													a(href='') date range
									th.date.sortable(scope='col')
										label(for='expire') Expire date
										#expiring.btn-group
											a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
												| today
												span.caret
											ul.dropdown-menu
												li
													a(href='') tomorrow
												li
													a(href='') 2 days
												li
													a(href='') date range

									th(scope='col')
										label(for='status') Status
										#status.btn-group
											a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
												| pending
												span.caret
											ul.dropdown-menu
												li
													a(href='') active
												li
													a(href='') expired
												li
													a(href='') dropping
							tbody
								tr
									td
											button.btn.select(data-toggle='button')
										td
											button.btn.favourite(data-toggle='button')
										td.actions
											span.action-buttons
												//a.ff-icon(href='#', data-title='Build website') X
												a.ff-icon(href='#', data-title='View domain details') G
												a.ff-icon(href='#', data-title='List for sale') W
												//a.ff-icon(href='#', data-title='Place bid / Buy') -
										td.domain-title
											span.domain-title-cntnr
												| 353cards
												span.tld com
										td 3
										td.currency 1584
										td n/a
										td 8
										td.currency 200
										td 20%
										td.date 1st Jan '70 10:00am
										td.date 1st Jan '70 10:00am
										td No
										td 0
										td 0
										td 0
										td 0








				
			#listed-for-sale.tab-pane
				h2#complete-listing Domains listed for sale
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id augue vitae libero ultricies bl
					| andit eget non lacus. Pellentesque a imperdiet diam.
				#temp-for-sale	grid view control goes in here 
		#thetableclone
			table.grid-table
