// home.jade
- if(!ajax) {
!= partial('partials/styles')
- }

header#main

	#toggle-side-bar.ff-icon-before
		span.toggle-title
			strong collapse 
			| sidebar
		span.toggle-sub * you can also re-open from here
	#sectional-func.side-open
		#x-side-bar(title='Toggle display of sidebar')
			
			span.alerts-summary 
				span(data-alerts="2", data-title="Protrada Alerts") 
					span.ff-icon-before.hover-bubble Protrada alerts
				span(data-alerts="4", data-title="Devname Alerts") 
					span.ff-icon-before.hover-bubble Devname alerts
					
			span.left-bars
				span
			span.right-bar
		
		!= partial('partials/tabs')
		
		form#quick-search
			input#quick-search-keyword(value='', placeholder='quick domain search _')
			#sale-type.btn-group
				a.btn.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
					| sale type 
					span.caret
				ul.dropdown-menu
					li
						a(href='') Auctions only
					li
						a(href='') PreAuctions only
					li
						a(href='') Expiring only
					li
						a(href='') Dropping only
					li.divider
					li
						a(href='') New Registrations only
					li
						a(href='') Websites only
			button.btn.ff-icon-before(type='submit') Submit

!= partial('partials/panel')
!= partial('partials/connect-afternic')

#main-container.page-home

	h5#first-heading.home welcome to Protrada

	h2#user-greeting hi, Andrew 

	hgroup#member-details

		h5
			| you are currently an 
			strong Investor member.

		h5#member-renewal
			| your next membership renewal is: 
			strong.ff-icon-before
				| 24
				sup th 
				| May, 2012 

	#health-and-status.clearfix

		#portfolio-health

			h3#health-title.ff-icon-before
				| portfolio 
				strong health

			p.ff-icon-before
				| This section can show you at a glance, how healthy your portfolio is (by charting it's ROI%), and also how it is trending. 
				a(href='#') Read more
				| 
				| to learn how to take advantage of this feature

			span.demo-spark(title='Graph currently inactive - no data to display')

		h4#h4-status-summary.ff-icon-before
			| your current trading 
			strong status summary
		
		#status-summary.tiny-scrollbar-horiz
			.scrollbar
				.track
					.thumb
						.end
			.viewport
				.overview
					ul#status-data
						li
							h5(data-title='watching', data-value='23')
							span.status-descr domains that you're currently watching
						li
							h5(data-value='2', data-title='losing')
							span.status-descr auctions that you're currently losing
						li
							h5(data-title='winning', data-value='0')
							span.status-descr auctions that you're currently winning
						li
							h5(data-title='pre-auction', data-value='0')
							span.status-descr register your interest for private auctions
						li.divided
							h5(data-title='pending', data-value='0')
							span.status-descr domains pending (not propogated)


	- if(showTradingSummary) {
		!= partial('partials/home-trending')
	- }
	
	ul#portfolio-data-tabs.nav.nav-tabs
		li.active
			a(href='#whole-portfolio') my portfolio
		li
			a(href='#listed-for-sale') listed for sale (4)
	
	#dashboard-tab-panes.tab-content
		
		#whole-portfolio.tab-pane.active
		
			h2.tab-intro-heading#complete-listing Complete domain listing
		
			p.tab-intro-text.clearfix
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id augue vitae libero ultricies bl
				| andit eget non lacus. Pellentesque a imperdiet diam.
		
			#grid-view.tiny-scrollbar-horiz
				.scrollbar
					.track
						.thumb
							.end
				.viewport
					!= partial('partials/grid-styleguide')


		#listed-for-sale.tab-pane
			
			h2#complete-listing Domains listed for sale
			
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id augue vitae libero ultricies bl
				| andit eget non lacus. Pellentesque a imperdiet diam.
			
			#temp-for-sale	grid view control goes in here 
	
	#thetableclone
		table.grid-table
		
script(src='/js/home.js')
script(src='/js/grid-view.js')		