// user-settings.jade
- if(!ajax) {
!= partial('partials/styles')
- }

header#main

	#toggle-side-bar.ff-icon-before
		span.toggle-title
			strong Collapse 
			| sidebar
		span.toggle-sub * You can also re-open from here
	
	#sectional-func.side-open	
		#x-side-bar(title='Toggle display of sidebar',onclick=)
			span.left-bars
				span
			span.right-bar
		
		- var klass = (tabs.length == 1 ? 'singular' : '');
		ul.sectional-tabs(class=klass)
			- for(var i = 0; i < tabs.length; ++i) {
				- var tab = tabs[i];
				li(id=tab.id)
					a(href="javascript:$.pv3.panel.show('" + tab.panel + "', {'tabid':'" + tab.id + "'});")
						strong= tab.h1
						= tab.h2
			- }
			
		form#quick-search.well
			input#quick-search-keyword(value='', placeholder='Quick domain search _')
			#sale-type.btn-group
				a.btn.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
					| Sale type
					span.caret
				ul.dropdown-menu
					li
						a(href='') Auctions only
					li
						a(href='') Pre-auctions only
					li
						a(href='') Expiring only
					li
						a(href='') Dropping only
					li.divider
	
					li
						a(href='') New Registrations only
					li
						a(href='') Websites only
			button.btn.ff-icon-before(type='submit') Submit

	
!= partial('partials/panel')

#main-container.page-settings

		h5#first-heading.ff-icon-before currently logged in as: 
			strong Andrew Chinn

		a#go-pro(href="#")
			strong.title.ff-icon-after Go Pro! 
			span.sub-text Soo many features, 
				strong just $xx a month!
		
		div#section-headings
			
			h1 
				strong user settings 
				| &amp; control panel area
		
		ul#user-settings-tabs.nav.nav-tabs

			li.active
				a(href='#general')#general-btn.ff-icon-before General / user settings
			li
				a(href='#external-accounts')#external-accounts-btn.ff-icon-before External account linkage
			li
				a(href='#system-notifications')#sys-notifications-btn.ff-icon-before System notification settings (coming soon)

		
		#user-settings-tab-panes.tab-content.tabs-in-tabs
			
			#general.tab-pane.active
				// h3#tab-section-heading 	
								
				ul#general-tabs.nav.nav-tabs.tabs-in-tabs
		
					li.active
						a(href='#user-profile') user profile &amp; membership
					li
						a(href='#login-information') login information
					li
						a(href='#purchase-history') purchase history &amp; invoicies
					li
						a(href='#credit-use') credit usage / history
				
				#general-tab-panes.tab-content.tabs-in-tabs
					#user-profile.tab-pane.active.clearfix
					
						#right-col
							#account.clearfix
								a.btn.btn-success.btn-large.ff-icon-before switch accounts
								h4 account details
								h5 
									strong free member
									| (this will never expire)
							#avatar.clearfix
								h4 your avatar
								h5 some details about where this is seen maybe?								
								
								#avatar-img-container.ff-icon-before
									// image content goes in here
								
								a.btn.btn-success.btn-large.ff-icon-before change
								a.btn.btn-large.btn-danger.ff-icon-before delete
							
							#social-media.clearfix
								h4 link up social media accounts
								h5 some details about Protrada can use them	
								
								.social-account.facebook.ff-icon-before
									// facebook shit in here
								.social-account.twitter.ff-icon-before
									// twitter shit in here							
								
								a.btn.btn-success.btn-large.ff-icon-before link accounts
								a.btn.btn-large.ff-icon-before unlink all
							
						#left-col
							hgroup.tabs-in-tabs-headings
								h2 update your details below
								h3 use this section to update/edit any of your personal details
							
							form#update-details.form-horizontal
								
								.control-group.txt-input-row
									label(for="text").control-label this is a text input
									.controls
										input#text(type="text", placeholder="anything goes")
										p.help-block this is a field help / tip text snippet
														
								.control-group.txt-input-row
									label(for="number").control-label this input is number only
									.controls
										input#number(type="number", placeholder="numeric only")						
								.control-group		
									label(for="instant-bid").control-label place as 'instant bid'?		
									.controls
										label.checkbox
											input#instant-bid(type="checkbox")	
											| words in here about what an instant bid actually is
		
								.control-group
									label(for="instant-bid").control-label combo box replacement		
									.controls
										select#select01
											option something
												option 2
												option 3
												option 4
												option 5


								.form-actions
									a.btn.btn-success.btn-large.ff-icon-before save form (submit)


		
					#login-information.tab-pane.clearfix
		
					#purchase-history.tab-pane.clearfix
		
						#show-only.btn-group
							a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0);')
								| show only
								span.caret
							ul.dropdown-menu
								li
									a(href='') tomorrow
								li
									a(href='') 2 days
								li
									a(href='') date range	
									
						hgroup.tabs-in-tabs-headings
							h2 view all of your purchase history
							h3 you can also download invoices for all purchases, no matter how old.	
		
						
						table.simple-data-grid
							thead
								tr
									th date
									th type
									th invoice
									th amount paid
									th description
							tbody
								tr
									td.date 20
										sup th 
										| May, 2012
										
									td Purchase 
									td 
										a(href="").default Download
									td.currency 150.00
									td 
										p This is Photoshop's version  of Lorem Ipsum. Proin gravida 
						
								tr
									td.date 20
										sup th 
										| May, 2012
										
									td Purchase 
									td 
										a(href="").default Download
									td.currency 150.00
									td 
										p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin. 					
								tr
									td.date 20
										sup th 
										| May, 2012
										
									td Somthing else 
									td 
										a(href="").default Download
									td.currency 150.00
									td 
										p Aenean sollicitudin, lorem quis						
		
		
					#credit-use.tab-pane.clearfix
		
		
		
			#external-accounts.tab-pane.active

			#system-notifications.tab-pane.active

		
		