!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Protrada V3 Proof of Concept
		!= partial('partials/styles')

	body.sidebar-hidden
		script
			
			// user agent sniffing is frowned upon :(
			// tim: true, but not for the reasons that we use it (mobile detection only). http://united-coders.com/matthias-reuter/user-agent-sniffing-is-back/ 
			// in any case, maybe we should try one of these...(although they both still seem to use UA sniffing) http://notnotmobile.appspot.com/   or   http://www.justindocanto.com/scripts/detect-a-user-on-a-mobile-browser-or-device 
			
			if ( /Android|webOS|BlackBerry|iP(hone|ad|od)/i.test( navigator.userAgent ) ) {
				document.body.className += " mobile";
			
			}

		!= partial('partials/task-status')

		!= partial('partials/backend-spine')

		!= partial('partials/alerts-aside')

		div(id="ajax-container")

		// footer area content
		.ajax-spinner
			.ball
			.ball1

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script
			!window.jQuery && document.write("<script src=\"js/jquery-1.7.2.min.js\"><\/script>");
		script(src='//balupton.github.com/history.js/scripts/bundled/html4+html5/jquery.history.js')
		script
			!window.History && document.write("<script src=\"js/jquery.history.js\"><\/script>");
		script(src='/js/bootstrap.min.js')
		script(src='/js/jquery.tinyscrollbar.js')
		// script(src='/js/jquery.ba-resize.min.js')
		// script(src='/js/jqplot/jquery.jqplot.js')
		// script(src='/js/jqplot/excanvas.js')
		// script(src='/js/jqplot/plugins/jqplot.highlighter.min.js')
		// script(src='/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js')
		// script(src='/js/jqplot/plugins/jqplot.trendline.min.js')
		// script(src='/js/jquery.tipTip.js')
		script(src='/js/jade.js')
		script(src='/js/moo.js')
		script(src='/js/jquery.plugins.js')
		script(src='/js/pv3.js')
		script(src='/socket.io/socket.io.js')