!!! 5

html(lang="en")
	
	head
	
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		
		title Login to Protrada (Bananaman release)
		
		!= partial("partials/styles")
		
	body.login
		#main-container
			- var klass = (error == "" ? "" : "error");
				#login-container(class=klass)
					h1#beta-logo.ff-icon-before alpha
					#login-content
						#login-title
							strong Please login to access
							| Protrada Alpha V3 (AlexKidd)
						form#login-body(method="post", action="/login?submit=1")
							fieldset.login
								input(type="text", value="", placeholder="username", name="username")
								input(type="password", value="", placeholder="password", name="password")

								.login-right
									input(type="submit", value="").invisible
									a.go-login.ff-icon-after(href="#", onclick="$('#login-body').submit()") go login
									a#forgot(href="#") forgot?

						- if ( error !== "" )
							#process-error
								h3.ff-icon-before
									| error
								span
									= error
									br
									| &nbsp;

						#login-facebook.clearfix
							h3.ff-icon-before
								| login via 
								strong Facebook 
							span
								| Use your facebook profile
								br
								| to create a Protrada account

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
		!= CDN('/js/require.min.js', { "data-main": require_conf })

		script
			// verify that we are on the right url
			if(document.location.pathname != '/login')
				document.location = '/login';

		script
			var _gaq = _gaq || [];
			_gaq.push(
				[ "_setAccount", "UA-33674085-1" ],
				[ "_trackPageview" ],
				[ "_setCustomVar", 1, "Module", "login", 3 ]
			);

			(function() {
				var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
				ga.src = ( "https:" == document.location.protocol ? "https://ssl" : "http://www" ) + ".google-analytics.com/ga.js";
				var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore( ga, s );
			})();