!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Login to Protrada (AlexKidd release)
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800")
		link(rel="stylesheet", href="css/bootstrap.css", media="screen")
		link(rel="stylesheet", href="css/pv3.css", media="screen")
	body.login
		#main-container
			- var klass = (error == "" ? "" : "error");
				#login-container(class=klass)
					h1#beta-logo.ff-icon-before alpha
					#login-content
						#login-title
							strong Please login to access
							| Protrada Alpha V3 (AlexKidd)
						form#login-body(method="post", action="/login?submit=1")
							fieldset.login
								input(type="text", value="", placeholder="username", name="username")
								input(type="password", value="", placeholder="password", name="password")

								.login-right
									input(type="submit", value="").invisible
									a.go-login.ff-icon-after(href="#", onclick="$('#login-body').submit()") go login
									a#forgot(href="#") forgot?

						- if ( error !== "" )
							#process-error
								h3.ff-icon-before
									| error
								span
									= error
									br
									| &nbsp;

						#login-facebook.clearfix
							h3.ff-icon-before
								| login via
								strong Facebook
							span
								| Use your facebook profile
								br
								| to create a Protrada account

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script
			!window.jQuery && document.write("<script src=\"js/jquery-1.7.2.min.js\"><\/script>");
		script
			// verify that we are on the right url
			if(document.location.pathname != '/login')
				document.location = '/login';

		script(src="js/bootstrap.min.js")
		script(src="js/pv3.js")
		script
			var _gaq = _gaq || [];
			_gaq.push(
				[ "_setAccount", "UA-33674085-1" ],
				[ "_trackPageview" ],
				[ "_setCustomVar", 1, "Module", "login", 3 ]
			);

			(function() {
				var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
				ga.src = ( "https:" == document.location.protocol ? "https://ssl" : "http://www" ) + ".google-analytics.com/ga.js";
				var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore( ga, s );
			})();