p Your session
pre= session

form(method="POST")
	input(type="text",name="user")
	input(type="password",name="pass")
	input(type="submit",value="Login",name="submit")
	
	
	
	p moo goes the cow
	p woof goes the dog
